PORT=3000
DATABASE_URL="postgresql://postgres:1234@localhost:5432/gerenciador_tarefas?schema=public"
JWT_KEY=1234
DATABASE_URL_railway = 'postgresql://postgres:EDJXChqrSJrKIYYCUqdQIaaTuGCBCsWO@postgres.railway.internal:5432/railway'